<%- include ('partials/_header') -%>

<div class="container">
  <div class="row mt-5">
    <%- include ('partials/_tabla-comprador.ejs') -%> <%- include
    ('partials/_formulario') -%>
  </div>
</div>
<%- include ('partials/_footer') -%>
